<% title "Assignments" %>

<table>
  <tr>
    <th>Project Class</th>
    <th>University</th>
    <th>Course</th>
  </tr>
  <% for assignment in @assignments %>
    <tr>
      <td><%= assignment.project_class_id %></td>
      <td><%= assignment.university_id %></td>
      <td><%= assignment.course_id %></td>
      <td><%= link_to "Show", assignment %></td>
      <td><%= link_to "Edit", edit_assignment_path(assignment) %></td>
      <td><%= link_to "Destroy", assignment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Assignment", new_assignment_path %></p>
