<%= form_for(@project_class) do |f| %>
  <% if @project_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_class.errors.count, "error") %> prohibited this project_class from being saved:</h2>

      <ul>
      <% @project_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :end_date, "Deadline or Target Date" %> <i>(Studyhunter initializes this date to a week from today.)</i><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
