<% title "All Projects" %>

<table id="list">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Deadline or Target Date</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @project_classes.each do |project_class| %>
  <tr>
    <td><%= link_to project_class.name, project_class %></td>
    <% creator = User.find project_class.creator_id %>
    <td><%= "#{creator.first_name} #{creator.last_name}" %></td>
    <td><%= project_class.readable_end_date %></td>
    <td><%= project_class.description %></td>
    <td>
      <% if user_signed_in? %>
        <%= link_to "Instantiate!", new_project_instance_path(:project_class_id => project_class.id) %> |
      <% end %>
      <% if ( !project_class.creator.nil? ) %>
        <% if current_user == project_class.creator %>
          <%= link_to 'Edit', edit_project_class_path(project_class) %> |
          <%= link_to 'Remove', project_class, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <a id="user_submit" href="<%= new_project_class_path %>">Create New Project</a>
<% end %>