<h1>Listing project_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Creator</th>
    <th>Date created</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_classes.each do |project_class| %>
  <tr>
    <td><%= project_class.name %></td>
    <td><%= project_class.course_id %></td>
    <td><%= project_class.creator_id %></td>
    <td><%= project_class.date_created %></td>
    <td><%= project_class.deadline %></td>
    <td><%= link_to 'Show', project_class %></td>
    <td><%= link_to 'Edit', edit_project_class_path(project_class) %></td>
    <td><%= link_to 'Remove', project_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project class', new_project_class_path %>
