<% title "Project" %>

<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Name:</b>
  <%= @project_class.name %>
</p>

<p>
  <b>Creator:</b>
  <% creator = User.find(@project_class.creator_id) %>
  <%= "#{creator.first_name} #{creator.last_name}" %>
</p>

<p>
  <b>Date created:</b>
  <%= @project_class.readable_created_at %>
</p>

<p>
  <b>Deadline or Target Date:</b>
  <%= @project_class.readable_end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @project_class.description %>
</p>

<% if ( !@project_class.creator.nil? ) %>
  <% if current_user == @project_class.creator %>
    <%= link_to 'Edit', edit_project_class_path(@project_class) %> |
  <% end %>
<% end %>
<%= link_to 'Back', project_classes_path %>
