<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Name:</b>
  <%= @project_class.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @project_class.creator_id %>
</p>

<p>
  <b>Date created:</b>
  <%= @project_class.date_created %>
</p>

<p>
  <b>Deadline or Target Date:</b>
  <%= @project_class.end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @project_class.description %>
</p>

<%= link_to 'Edit', edit_project_class_path(@project_class) %> |
<%= link_to 'Back', project_classes_path %>
