<% title "Comment" %>

<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Project instance:</b>
  <%= @comment.project_instance_id %>
</p>

<p>
  <b>Author:</b>
  <%= @comment.author_id %>
</p>

<p>
  <b>Date created:</b>
  <%= @comment.date_created %>
</p>


<% if ( !@comment.author.nil? ) %>
  <% if current_user == @comment.author %>
    <%= link_to 'Edit', edit_comment_path(@comment) %> |
  <% end %>
<% end %>
<%= link_to 'Back', comments_path %>
