<%= form_for @student do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :university_id %><br />
    <%= f.text_field :university_id %>
  </p>
  <p>
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </p>
  <p><%= f.submit "Add Student Details" %></p>
<% end %>
