<%= form_for @student do |f| %>
  <%= f.error_messages %>

  <%= f.fields_for :university do |university_form| %>
    <p>
      <%= university_form.label :name, "University Name" %><br />
      <%= university_form.text_field :name  %>
    </p>
  <% end %>
  <p>
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </p>
  <p><%= f.submit "Add Student Details" %></p>
<% end %>
