<% title "Students" %>

<table id="list">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>University</th>
    <th>Major</th>
    <th>Rating</th>
  </tr>
  <% for student in @students %>
    <tr>
      <td><%= student.user.nil? ? "" : link_to( student.user.first_name, student ) %></td>
      <td><%= student.user.nil? ? "" : link_to( student.user.last_name, student ) %></td>
      <td><%= student.university.nil? ? "" : student.university.name %></td>
      <td><%= student.major %></td>
      <td><%= student.rating %></td>
      <% if ( !student.user.nil? ) %>
        <% if current_user == student.user %>
          <td><%= link_to "Edit", edit_student_path(student) %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <% if current_user.student.nil? %>
    <p><%= link_to "Become a Student", new_student_path %></p>
  <% else %>
    <p><%= link_to "Edit Student Details", edit_student_path(current_user.student.id) %></p>
  <% end %>
<% end %>