<% title "Student" %>
<p>
  <strong>Name:</strong>
  <%= "#{@student.user.first_name} #{@student.user.last_name}" %>
</p>
<p>
  <strong>University:</strong>
  <%= @student.university.nil? ? "" : @student.university.name %>
</p>
<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <% if ( !@student.user.nil? ) %>
    <% if current_user == @student.user %>
      <%= link_to "Edit", edit_student_path(@student) %> |
    <% end %>
  <% end %>
  <%= link_to "View All", students_path %>
</p>
