<% title "Student" %>

<p>
  <strong>University:</strong>
  <%= @student.university.nil? ? "" : @student.university.name %>
</p>
<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <%= link_to "Edit", edit_student_path(@student) %> |
  <%= link_to "Remove", @student, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", students_path %>
</p>
