<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Password:</b>
  <%= @student.password %>
</p>

<p>
  <b>University:</b>
  <%= @student.university_id %>
</p>

<p>
  <b>Major:</b>
  <%= @student.major %>
</p>

<p>
  <b>Rating:</b>
  <%= @student.rating %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
