<% title "Study Session" %>

<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Project instance:</b>
  <%= @study_session.project_instance_id %>
</p>

<p>
  <b>Location:</b>
  <%= @study_session.location_id %>
</p>

<p>
  <b>Meeting date:</b>
  <%= @study_session.meeting_date %>
</p>


<% if ( !@study_session.project_instance.nil? and !@study_session.project_instance.users.nil? ) %>
  <% if @study_session.project_instance.users.includes?(current_user) %>
    <%= link_to 'Edit', edit_study_session_path(@study_session) %> |
  <% end %>
<% end %>
<%= link_to 'Back', study_sessions_path %>
