<% title "Project Instance" %>

<!--<p id="notice"><%#= notice %></p>-->

<p>
  <b>Name:</b>
  <%= @project_instance.name %>
</p>

<p>
  <b>Owner:</b>
  <%= "#{@project_instance.owner.first_name} #{@project_instance.owner.last_name}" unless @project_instance.owner.nil? %>
</p>

<p>
  <b>Instantiated:</b>
  <%= @project_instance.readable_created_at %>
</p>

<p>
  <b>Last modified:</b>
  <%= @project_instance.readable_updated_at %>
</p>

<p>
  <b>Project class:</b>
  <%= @project_instance.project_class.name unless @project_instance.project_class.nil? %>
</p>

<p>
  <b>Description:</b>
  <%= @project_instance.description %>
</p>

<p>
  <b>Deadline or Target Date:</b>
  <%= @project_instance.readable_end_date if !@project_instance.end_date.nil? %>
</p>


<% if ( !@project_instance.owner.nil? ) %>
  <% if current_user == @project_instance.owner %>
    <%= link_to 'Edit', edit_project_instance_path(@project_instance) %> |
  <% end %>
<% end %>
<%= link_to 'Back', project_instances_path %>

<p>
  <h3 id="comments_count"><%= pluralize(@project_instance.comments.size, "Comment") %></h3>
</p>

<div id="comments">
  <%= render @project_instance.comments %>
</div>

<h4>Add a Comment:</h4>
<%= form_for Comment.new(:project_instance => @project_instance) do |f| %>
  <%= f.hidden_field :project_instance_id %>
  <%= f.hidden_field :author_id, :value => current_user.id %>
  <p>
    <%= f.text_area :body, :rows => 4 %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
