<%= form_for(@project_membership) do |f| %>
  <% if @project_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_membership.errors.count, "error") %> prohibited this project_membership from being saved:</h2>

      <ul>
      <% @project_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_instance_id %><br />
    <%= f.text_field :project_instance_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_rights %><br />
    <%= f.text_field :student_rights %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
