<% title "Project Memberships" %>

<!--<h1>Listing project_memberships</h1>-->

<table>
  <tr>
    <th>Project instance</th>
    <th>Student</th>
    <th>Student rights</th>
    <th></th>
  </tr>

<% @project_memberships.each do |project_membership| %>
  <tr>
    <td><%= project_membership.project_instance_id %></td>
    <td><%= project_membership.student_id %></td>
    <td><%= project_membership.student_rights %></td>
    <td><%= link_to 'Show', project_membership %></td>
    <%# if ( !project_membership.project.users.nil? ) %>
      <%# if current_user == project_class.creator %>
        <!--<td><%#= link_to 'Edit', edit_project_membership_path(project_membership) %></td>-->
        <!--<td><%#= link_to 'Remove', project_membership, :confirm => 'Are you sure?', :method => :delete %></td>-->
      <!--<%# else %>-->
        <!--<td></td>-->
        <!--<td></td>-->
      <%# end %>
    <%# end %>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Project membership', new_project_membership_path %>
<% end %>