<% title "Locations" %>

<!--<h1>Listing locations</h1>-->

<table id="list">
<!--  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Amenities</th>
    <th>Overall rating</th>
    <th></th>
  </tr>
-->
<% @locations.each do |location| %>
<tr>
<td width="200px" style="text-align:center">
<%= link_to location.name, location %>
<div>

<%= link_to  image_tag("logo"), location.name %>
<img  height="100px" src="http://cbk0.google.com/cbk?output=thumbnail&w=90&h=68&ll=<%=location.latitude%>,<%=location.longitude%>&thumb=0"/>

</div>
</td>
<td>
<b>Description:</b><br/> 
    <b>Adress:</b> <%= location.street %><br/>
  <b>City:</b> <%= location.city %><br/>
    
    <b>Amenities:</b> <%= location.amenities %>
   <br/> <b>Rating:</b> <%= location.overall_rating %>
    <td><%= link_to 'Edit', edit_location_path(location) if user_signed_in? %></td>

</td>
</tr>

<% end %>
</table>

<br />

<% if user_signed_in? %>
  <a id="user_submit" href="<%= new_location_path %>">Add New Location</a>
<% end %>

<div style="width:100%;padding-left: 100px">
<%= gmaps4rails(@json) %>
</div>
