<% title "Locations" %>

<!--<h1>Listing locations</h1>-->

<table style="background:#000">
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <!--
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Gmaps</th>
    -->
    <th>Amenities</th>
    <th>Overall rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr style="color:black">
    <td><%= link_to location.name, location %></td>
    <td><%= location.street %></td>
    <td><%= location.city %></td>
    <td><%= location.country %></td>
    <!--
    <td><%= location.longitude %></td>
    <td><%= location.latitude %></td>
    <td><%= location.gmaps %></td>
    -->
    <td><%= location.amenities %></td>
    <td><%= location.overall_rating %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Remove', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
<%= gmaps4rails(@json) %>
