<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "StudyHunter" %></title>
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    <%= csrf_meta_tag %>  
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
 <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <div class="container">
      <header>
            <%= render 'layouts/user_nav' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      </header>
      <div style="text-align:center">
        <h1>StudyHunter</h1>
        </div>
        <table height="40px"></table>
        <%case yield(:title)%>
        <%when "Sign In", "Sign Up"%>
        <table>
        <tr>
        <th>
         <%= image_tag("logo.png", :height=>350) %>
       </th>
       <th>
       <h2><%=yield(:title)%></h2>
      <%= yield %>
      </th>
      </tr>
      </table>
      <%else%>
       <h2><%=yield(:title)%></h2>
      <%= yield %>
      <%end%>
      
      <%= yield :scripts %>
      
    </div>
  </body>
</html>

