<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "StudyHunter" %></title>
    <%= csrf_meta_tag %>  
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
 <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <div class="container">
      <header>
            <%= render 'layouts/user_nav' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      </header>
      <div style="text-align:center">
        <%= image_tag("titles/studyhunter.png", :width=>600) %>
        </div>
        <table height="40px"></table>
        <%case yield(:title)%>
        <%when "Sign In", "Sign Up"%>
        <table>
        <tr>
        <th>
         <%= image_tag("logo.png", :height=>350) %>
       </th>
       <th>
       <h1><%= image_tag("titles/"+yield(:title).split.join+".png", :height=>35) %>
        </h1>
      <%= yield %>
      </th>
      </tr>
      </table>
      <%else%>
      <h1><%= image_tag("https://www.google.com/images/nav_logo95.png", :height=>35) %>
        </h1>
      <%= yield %>
      <%end%>
      
      <%= yield :scripts %>
      
    </div>
  </body>
</html>

