<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "StudyHunter" %></title>
    <%= csrf_meta_tag %>  
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>  
    <%= stylesheet_link_tag 'list', :media => 'screen' %>  
    <link rel="icon"  type="image/png" href="../favicon.png">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'></head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/user_nav' %>
      <table height="10px"></table>
      <div style="text-align:center">  
      <a href="/"><h1>StudyHunter</h1></a>
      <% case yield(:title) %>
      <% when "Sign In", "Sign Up" %>
      <%else%>
      <img  style="position:absolute; left:285px;top:0px;z-index:-1" src="../images/logo.png" width="160px"/>
        <%end%>
      </div>
      </header>
      <% case yield(:title) %>
      <% when "Sign In", "Sign Up" %>
      <%else%>
      <%= render 'layouts/main_menu' %>
      <%end%>
      <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end %>
      <% case yield(:title) %>
      <% when "Sign In", "Sign Up" %>
        <table>
          <tr>
            <th>
              <%= image_tag("logo.png", :height=>350) %>
            </th>
            <th>
              <h2><%=yield(:title)%></h2>
              <%= yield %>
            </th>
          </tr>
        </table>
      <% else %>
        <h2><%=yield(:title)%></h2>
        <%= yield %>
      <% end %>
      
      <%= yield :scripts %>
      
    </div>
    <div style="text-align:center;font-size:20px;">
    <a>
    <br/>
    Designed by Trenton Johnson and Ramy Elshenawy
    </a>
    </div>
  </body>
  
</html>

